@import "reset.css";

body {
  background-color: darkslategrey;
  color: ghostwhite;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.bgimge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: bgimg 0.3s linear;
}

@keyframes bgimg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
